package html

import "strconv"

type GroceryCategory struct {
	Name        string
	Ingredients map[string]float64
}

templ ingredientRow(categoryName string, ingredients map[string]float64) {
	<tr>
		<td>{ categoryName }</td>
		<td>
			for name, quantity := range ingredients {
				<div>{ name } - { strconv.FormatFloat(quantity, 'f', -1, 64) }</div>
			}
		</td>
	</tr>
}

templ Email(categories []GroceryCategory) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>Weekly Meals</title>
			<style>
				table {
					border-collapse: collapse;
					width: 100%;
					font-family: Arial, sans-serif;
				}

				table-small {
					border-collapse: collapse;
					width: 100%;
					font-family: Arial, sans-serif;
				}

				table th,
				table td {
					border: 1px solid #ccc;
					padding: 8px 12px;
					text-align: left;
				}

				table th {
					background-color: #f4f4f4;
					font-weight: bold;
				}
			</style>
		</head>
		<body>
			<h1>Meals for this week:</h1>
			<table>
				<tr>
					<th>Grocery Type</th>
					<th>Ingredients</th>
				</tr>
				for _, category := range categories {
					@ingredientRow(category.Name, category.Ingredients)
				}
			</table>
		</body>
	</html>
}
