package html

import "strconv"

templ ingredients(categoryName string, ingredients map[string]int) {
	<tr>
		<th>{ categoryName }</th>
		<th>
			for name, count := range ingredients {
				{ name } { strconv.Itoa(count) } &#10;&#13;
			}
		</th>
	</tr>
}

//TODO: Dynamically create html for meal details
templ Email() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<title>Weekly Meals</title>
			<style>
				table {
					border-collapse: collapse;
					width: 100%;
					font-family: Arial, sans-serif;
				}

				table-small {
					border-collapse: collapse;
					width: 100%;
					font-family: Arial, sans-serif;
				}

				table th,
				table td {
					border: 1px solid #ccc;
					padding: 8px 12px;
					text-align: left;
				}

				table th {
					background-color: #f4f4f4;
					font-weight: bold;
				}
			</style>
		</head>
		<body>
			<h1>Meals for this week:</h1>
			<table>
				<tr>
					<th>Grocery Type</th>
					<th>Items</th>
				</tr>
			</table>
		</body>
	</html>
}
